.btnTodo{
    border: none;
    background-color: transparent;
    position: fixed;
    bottom: 3%;
    right: 5%;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    box-shadow: .2rem .2rem .8rem #00000088;
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
    background-color: #000000;
    transform: scale(.9);
    filter: opacity(.9);
    cursor: pointer;
    transition: all 250ms linear;
}
.btnTodo:hover{
    transform: scale(1);
    filter: opacity(1);
}
.btnTodo:active{
    transform: scale(.8);
}